NODE_OPTIONS=
GENERATE_SOURCEMAP=
REACT_APP_PORT=
REACT_APP_APOLLO_HTTP_SERVER=
REACT_APP_APOLLO_WS_SERVER=
REACT_APP_CORS_HANDLER=
REACT_APP_AUTH_COGNITO_URL=
REACT_APP_UPLOAD_SIGNED_URL=
REACT_APP_DOWNLOAD_SIGNED_URL=
REACT_APP_ASSET_URL=
